{% extends "user/sample.html" %}

{% block title %}
Редактирование
{% endblock %}

{% block name %}
<div class="dropdown" style="float:right;">
<p  class="USER">
    {% for name in user_name %}
{{ name.name }} &nbsp;<img src="{{ name.photo.url }}" alt="no photo" width="40" height="40" >
    {% endfor %}
</p>

    <div class="dropdown-content">
        <a href="{% url 'change' %}"> Редактировать </a>
        <a href="{% url 'admin' %}"> Судна </a>
        <a href="{% url 'main' %}"> Выход </a>
    </div>
</div>
{% endblock %}
{% block content %}

<div style="margin-left:45%; margin-top:2%">
    {% for ship_change in change %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label style="margin-left:-10%">Название</label>&nbsp;
                <input type="text" name="name_change_ship" placeholder="Название" value="{{ ship_change.name }}"><br><br>
        <label style="margin-left:-5.5%">IMO</label>&nbsp;
                <input  type="number" name="IMO_change_ship" placeholder="IMO" min="0" max="9999999" value="{{ ship_change.IMO }}"><br><br>
                    <label style="margin-left:-5.3%">Тип</label>&nbsp;
                     <select name="type_change_ship">
                         {% for one_type in all_type %}
                         {% if ship_change.type_id == one_type.id %}
                        <option value="{{ one_type.type }}" selected>{{ one_type.type }}</option>
                         {% else %}
                         <option value="{{ one_type.type }}">{{ one_type.type }}</option>
                         {% endif %}
                         {% endfor %}
                    </select><br><br>
                    <label style="margin-left:-14%">Пользователь</label>&nbsp;
                     <select name="user_change_ship">
                        {% for one_person in all_users %}
                         {% if ship_change.user_id == one_person.id %}
                        <option value="{{ one_person.name }}" selected>{{ one_person.name }}</option>
                         {% elif one_person.type == 'user' %}
                         <option value="{{ one_person.name }}">{{ one_person.name }}</option>
                         {% endif %}
                       {% endfor %}
                    </select>{% endfor %}
        <br><br>
        <input type="file" name="photo" value="{{ person_content.photo }}" accept="image/jpeg" style="margin-left:-1%"><br><br>
        <button name='changeButton' type="submit" class="btn btn-primary">Сохранить изменения</button>&nbsp;&nbsp;
        <button name='close' type="submit" class="btn btn-secondary" >Назад</button>
        </form>
</div>

{% endblock %}